@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', 'Sofia Sans';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 100% !important;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #090c10;
  padding: 1rem 2rem 0 2rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --card-height: 3.2rem;
  --card-width: 3.2rem;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #090c10;
}

@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

@keyframes customspin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card {
  background: #090c10;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  z-index: 3;
}
/*
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}
*/
.card:hover:before {
  content: '';
  width: 104%;
  height: 104%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #3013e4,
    #0a182a 43%,
    #1b167b
  );
  position: absolute;
  z-index: -5;
  /* top: -1% ;
    left: -2%; */
  animation: customspin 2.5s linear infinite;
}

.card:hover:after {
  position: absolute;
  content: '';
  top: calc(var(--card-height));
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: -5;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height)));
  background-image: linear-gradient(
    var(--rotate),
    #3013e4,
    #0a182a 43%,
    #1b167b
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: customspin 2.5s linear infinite;
}

/* Canvas Particles */

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* Background Particles */
